[submodule "LLAMA-Romantica"]
	path = LLAMA-Romantica
	url = https://huggingface.co/spaces/Xteom/LLAMA-Romantica
[submodule "GPT-Romantico"]
	path = GPT-Romantico
	url = https://huggingface.co/spaces/Xteom/GPT-Romantico
